/* style information for HTML tables */

table {
	font-size:0.8rem;
	width:100%;
}

table {
	border-collapse:collapse;
	text-align:left;
}


/* legend across top of table */

table thead tr th:first-child {
	border-left: 1px solid #808080;
}

table thead tr th
{
	font-size:1.25rem;
	padding: 0.25rem;
	color:#eee;
	/* add gradient */
	background-color: #808080;
	background: -moz-linear-gradient(top, #777777 0%, #2c2c2c 15%, #000000 33%, #111111 65%, #1c1c1c 90%, #969696 100%); /* FF3.6+ */
	background: linear-gradient(to bottom, #777777 0%,#2c2c2c 15%,#000000 33%,#111111 65%,#1c1c1c 90%,#969696 100%); /* W3C */

}
	
	
table th:first-child {
	border-left:1px solid #ddd;
}


table tbody tr:nth-child(even) {
	background-color: #efefef;
}


table tbody tr:nth-child(odd) {
	background-color: #fafafa;
	}



table td {
	color:#555;
	vertical-align:middle;
	padding: 0.5em;
}


/* component row (one column) */

table  tfoot{
	text-align:center;
}


.component {
	background-color: #808080;
	background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#303030));
	background: -moz-linear-gradient(top, #707070, #303030);
	border-top:1px solid #aaa;
	color:#fff;
}


/* legend row */

.property-legend {
	background-color: #808080;
	background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#707070));
	background: -moz-linear-gradient(top, #606060, #707070);
	color: #dadada;

}

/* property name, on left side of property columns */
.property-name {
	background-color: #909090;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd));
	background: -moz-linear-gradient(top, #ccc, #ddd);
	color: #111;
	
}
	
/* property cell */

.property {

}
	
.first-prop {
}
	
.second-prop {
}
	
.third-prop {
		
}

