/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
}


h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 60%;
	color: #6f6f6f;
	line-height: 0; }

h1 {
	font-size: 2.125rem; 
}

h2 {
	font-size: 1.6875rem; 
}

h3 {
	font-size: 1.375rem; 
}

h4 {
	font-size: 1.125rem; 
}

h5 {
	font-size: 1.125rem; 
}

h6 {
	font-size: 1rem; 
}